<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Hotels list", root_path %></li>
    <li class="breadcrumb-item active" aria-current="page">New Hotel</li>
  </ol>
</nav>
<div class="container">
  <div class="row">
    <h1>New hotel page</h1>
    <span class="border border-primary">
      <div class="col-lg-6 form-group" style="background: lightgrey">
        <%= form_for @hotel do |hotel| %>

          <%= hotel.label :name %></br>
          <%= hotel.text_field :name, :class => 'form-control form-control-lg' %></br>

          <%= hotel.label :decription %></br>
          <%= hotel.text_field :description, :class => 'form-control form-control-lg' %></br>

          <%= hotel.submit 'Create hotel', :class => 'btn btn-primary' %>
        <% end %>
      </div>
    </span>
  </div>
</div>
